<?php

/*
 * adapt this file, if you want to define custom database credentials.
 */

return array(
    'db_name' => 'testdb',
    'db_user' => 'root',
    'db_pwd'  => 'Pass123',
    'db_host' => 'localhost',
    'db_table_prefix' => 'arc2',
    'db_adapter' => 'mysqli',
);
